.App {
  width: 100%;
  margin: 20px 70px;
}

.job {
  width: 80%;
  margin: 0 auto;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding: 20px 10px;
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.job:hover {
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.job-company {
  padding: 0 30px;
}

.job-dialog {
  padding: 30px 50px;
}

.detail-logo {
  height: 30px;
  float: right;
}

